@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');



.header {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.header a{
    font-family: 'Roboto Condensed', sans-serif !important;
    color: rgba(0,0,0,.55);
}

.header__user{
    float: right;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.logout-menu {
    top: var(--height-header);
    position: absolute;
    right: 0;
    min-width: 215px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    visibility:hidden;
    opacity: 0;
    cursor: pointer;
}

.logout-active{
    opacity: 1;
    visibility: visible;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
}