
@media(max-width: 900px) {
    .actors-block {
        margin-top: 3vh !important;
        height: 83vh;
    }
}

.actors-container{
    box-shadow: inset 0px 1px 1px 0px;
    height: 100%;
}

.add-actor-button{
    background-color: var(--bs-gray-100) !important;
    cursor: pointer;
}