@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

.header {
    top: 0;
    left: 0;
    background-color: #f39c12;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
}

.header__child {
    margin: 0 7px;
}

.header__child_grow {
    flex-grow: 1;
}

.header__logo-wrap {
    display: flex;
}

.header__logo-image {
    background-image: url("./cat.svg");
    width: 34px;
    height: 34px;
    margin-right: 7px;
}

.header__title {
    color: rgb(255, 240, 213);
    font-family: 'Wendy One', sans-serif;
}