.article {
    background: rgb(236, 205, 147);
    padding: 5px 20px;
    margin: 15px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.article__info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.article__author {
    font-weight: bold;
}

.article__text {
    padding-top: 20px;
    padding-bottom: 10px;
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.article__image {
    display: block;
    width: 100%;
}

.article__like-and-comment-area{
    color: #545454;
    display: flex;
    justify-content: space-between;
    padding: 10px 0
}

.article__like-and-comment-area button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.article__like-button{
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #545454;
}

.article__like-span{
    display: inline-flex;
    align-items: center;
}

.article__like-button_has-like{
    background-image: url(./active_like.svg);
    width: 35px; 
    height: 35px;
}

.article__like-button_no-like{
    background-image: url(./void_like.svg);
    width: 35px; 
    height: 35px;
}

/* Отделяющая черта */
.article hr{
    background-color: #B07400;
    border: none;
    height: 1px;
}


/* Стили для кнопки "Читать дальше" и скрытие части поста */
.article__bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(236, 205, 147,0), rgba(236, 205, 147,1) 80%);
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: .3s;
}

.article__hiddenchecker{
    opacity: 0;
    position: absolute;
}

.article__hiddenchecker:checked ~ .article__text {
    max-height: 9999px;
    transition: 10s;
}

.article__hiddenchecker:checked ~ .article__text .article__bottom{
    opacity: 0;
    transition: .3s;
}

.article__hiddenchecker ~ .article__hiddenbutton:before {
    content: 'Читать далее';
    left: 50%;
}

.article__hiddenchecker:checked ~ .article__hiddenbutton:before {
    content: 'Скрыть';
}

.article__hiddenbutton {
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.article__time {
    font-weight: bold;
}

.article__tags{
    display: flex;
    justify-content: flex-start;   
    padding-bottom: 10px;
}

.article__tag {
    padding: 2px 8px;
}

.article__tag a::before {
    content: '#';
}

.article__tag a:active, 
.article__tag a:visited,
.article__tag a:hover {
   color: #76674A;
   text-decoration: none;
}

/* Зона комментариев */
.article__first-level-comment{
    background: #EED9B1;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    padding-left: 20px;
}

.article__second-level-comment{
    background: #EED9B1;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 25px 25px 65px;
    padding: 10px;
    padding-left: 20px;
}

.article__comment-content{
    margin: 15px 0;
}

.article__reply-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    margin-right: 15px;
    color: #8C8C8C;
}

.article__comment-area{
    background-color: white;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    margin: 25px 25px;
}

.article__comments{
    overflow: auto;
    max-height: 800px;
}

.article__comment{
    background: #FFC569;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 4px;
    color: white;
    cursor: pointer;
    margin: 10px;
    width: 20%;
}

.article__comment-field{
    display: block; 
    width: 85%;
    box-sizing: border-box;
    height: 52px;
    border: 0px;
    outline: none;
    resize: none;
    padding: 5px;
    margin-left: 15px;
}

@media(max-width: 500px) {
    .article__info{
        flex-direction: column;
    }
}

