@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --height-header: 50px;
    --init-color: rgb(56, 56, 56);
}

button{
    font-family: 'Roboto Condensed', sans-serif;
}