@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --height-header: 110px;
    --init-color: rgb(32, 128, 56);
}

button{
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body, #root{
    height: 100%;
}

.content-container{
    grid-template-rows: 13% 87%;
}

body {
    font-size: 12pt;
    background-color: rgb(212, 217, 193);
    color: var(--init-color);
}